*.class

# Package Files #
*.jar
*.war
*.ear

Start.java

com/chaosdev/textmodloader/

clashsoft/playerinventoryapi/

clashsoft/mods/moretools/

com/
net/
cpw/
ibxm/
paulscode/

*.cfg

clashsoft/mods/morepotions/

clashsoft/mods/moreminerals/

clashsoft/mods/morefood/

clashsoft/mods/moredimensions/

clashsoft/mods/betterblocks/

clashsoft/modoptionsapi/

clashsoft/cslib/

clashsoft/brewingapi/

assets/forge/

mcpmod.info

forge_logo.png

fmlversion.properties

deobfuscation_data-1.6.4.lzma
